<div class="container">
  <div class="row" *ngIf="data.length > 0">
    <div class="col-md-4 mb-3" *ngFor="let d of data">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{d.title| capitalize}}</h5>
          <p class="card-text">{{d.body}}</p>
          <a routerLink="/{{d.id}}" class="card-link">Ver</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="data.length == 0">
    <div class="col-md-12 text-center">
      No se encontraron resultados de busqueda
    </div>
  </div>
</div>
